html {
    margin: 0;
  }
nav{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(146, 139, 139);
}
nav>a{

    height: 30px;
    width: 80px;
    background-color: rgba(76, 76, 79, 0.208);
    border: 1px solid rgb(231, 231, 238);
    display: flex;  /* Make the a element a flex container */
  /* Center the text vertically within the a element */
    justify-content: center;  /* Center the text horizontally within the a element */
    line-height: 30px;  /* Set the line height to match the height of the a element */
    padding: 0;  /* Remove any padding that might be causing issues */
    font-size: 14px;
    text-decoration: None;
    color: black;
    border-radius:5px;
}
body {
    background-color: #212121;
    color: #fff;
  }

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #clock {
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
  }